html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Merienda+One&display=swap');

/* Global Styles */
html {
  font-size: 125%;
  color: #545152;
  background-color: #BCBCA6;
  font-family: 'Barlow', 'sans-serif';
}
body, h1, h2, h3, h4, h5, li, ul, p, button {
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #545152;
}
h1 {
  font-family: 'Merienda One', 'cursive';
}

input, button.submitButton {
  border: 2px #545152 solid;
  background-color: #CDC4B9;
  transition: all 0.4s;
}

button.submitButton{
  text-transform: uppercase;
}

input:hover,
input:focus,
button.submitButton:hover,
button.submitButton:focus {
  background-color: #dfd5ca;
  outline:none;
  border:2px #dfd5ca solid;
}

input {
  padding: 2px;
  margin-right: 10px;
}

button {
  padding: 2px 10px;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  list-style: none;
}

.appContainer {
  min-height: 100vh;
  position:relative;
}

main {
  min-height: 85vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

/* NAV MENU STYLING */
nav {
  background-color: #BCBCA6;
  border-bottom: 2px solid #969680;
}
nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.navButton {
  font-weight: 600;
  padding: 10px;
}

.mobileNav {
  display: none;
}
.menuIcon {
  position: absolute;
  transition: 0.5s;
  z-index: 20;
  top: 5px;
  right: 3%;
  padding: 20px;
  border: none;
  background-color: transparent;
}
.hamburgerMenuIcon {
  width: 60px;
  height: 35px;
  position: relative;
  margin: 0 auto;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}
.hamburgerMenuIcon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #545152;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}
.hamburgerMenuIcon span:nth-child(1) {
  top: 0px;
}
.hamburgerMenuIcon span:nth-child(2), 
.hamburgerMenuIcon span:nth-child(3) {
    top: 15px;
}
.hamburgerMenuIcon span:nth-child(4) {
    top: 30px;
}
.hamburgerMenuIcon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.hamburgerMenuIcon.open span:nth-child(2) {
  transform: rotate(45deg);
}
.hamburgerMenuIcon.open span:nth-child(3) {
  transform: rotate(-45deg);
}
.hamburgerMenuIcon.open span:nth-child(4) {
  top: 15px;
  width: 0%;
  left: 50%;
}
.mainMenu {
  background: #BCBCA6;
  position: absolute;
  z-index: 10;
  width: 0;
  height: 0;
  top: 0;
  right: 0;
  opacity: 0;
  border-radius: 50%;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.mainMenu.open {
  opacity: 1;
  border-radius: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

/* Home Page Styling */
.initialWordForm{
  display:flex;
  flex-direction: column;
  align-items:center;
  margin-bottom: 60px;
}
.initialWordForm input{
  margin: 10px 10px 10px 0;
  width: 280px;
}

.definition {
  max-width: 850px;
  margin: 0 auto;
}

.definition span {
  letter-spacing: 5px;
}

/* Results Page */
.resultsPage {
  height: 100%;
  display:flex;
  align-items:center;
}

.haikuFlexContainer {
  height: 150px;
}

.haikuLine {
  position:relative;
}

.haikuLine li {
  font-size: 1.6rem;
  margin: 3px;
}

.haikuLine button {
  position:absolute;
  right: 0;
  top: 50%;
  transform:translateY(-50%);
  font-size: 0.9rem;
  text-transform: uppercase;
  padding-top: 5px;
  background-color:#CDC4B9;
  border: 1px solid #545152;
  display:block;
}

/* Styling for completed haikus --- */
.lineComplete li {
  font-weight: 400;
  color: #22261e;
}

/* Saved Haiku Page */
.savedHaikus h2 {
  text-align: center;
  margin:40px 0;
}

.haikuList {
  justify-content: space-between;
  font-size: 1.2rem;
}

.individualPoem {
  background: #CDC4B9;
  padding: 20px;
  margin: 20px 0;
  width: calc((100% / 2) - 30px);
}
/* Footer */

footer {
  position:absolute;
  bottom: 0;
  width: 100%;
  background-color: #545152;
  color: #CDC4B9;
  text-align: center;
  padding: 5px;
  margin-top: 10px;
}

footer p {
  padding: 2px;
}

footer a{
  color: #CDC4B9;
}

/* MEDIA QUERIES --- */

/* menu will need to switch to mobile menu at ~800px */
@media (max-width: 800px) {
  .desktopNav {
    display: none;
  }
  .mobileNav {
    display: block;
  }

}

@media (max-width: 500px) {
  h1 {
    font-size: 1.2rem;
  }
  nav {
  border-bottom: none;
}
}

/* PROJECT NOTES --- */
/* brand colours: */
/* DARK GREY: #545152 */
/* SAND/LIGHT BROWN: #CDC4B9 */
/* SAGE GREEN: #BCBCA6 */

/* TESTED --- #BCBCA6 (deeper sage green) is accessible with #F7F8F1 (off-white) text */
